body {background-color: #000000;padding: 20px;margin: 0;}

h1, h2, p, ul, li {font-family: sans-serif;}
ul.header li {display: inline;list-style-type: none;margin: 0;}
ul.header {background-color: #ff0000;padding: 0;}
ul.header li a {color: #FFF;font-weight: bold;text-decoration: none;padding: 20px;display: inline-block;}
.content {background-color: #FFF;padding: 20px;}
.content h2 {padding: 0;margin: 0;}
.content h1 {padding: 0;margin: 0;}
.content li {margin-bottom: 10px;}

footer {
    margin-top: 20px;
    background-color: #ff0000;
    color: #FFF;
    padding: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.bodyh1 {
    color: #FFF;
    margin-top: 0;
}
.topimg {
    height: 250px;
    background: url(images/nu.png) no-repeat;
    display: block;
    margin-bottom: 0;
    padding: 0;
    
}
/* .jobInfo {
    display: none;
} */